# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
/release/
win-unpacked/
*.exe
builder-debug.yml
builder-effective-config.yaml

# Angular
.angular/

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
