<p-table [value]="vmodel()" dataKey="id" [expandedRowKeys]="expandedRows" [scrollable]="true" scrollHeight="flex" class="w-full h-full">
    <ng-template #header>
        <tr>
            <th class="" scope="col"><div class=""><span class="">Name</span></div></th>
            <th class="" scope="col"><div class=""><span class="">Region</span></div></th>
            <th class="" scope="col"><div class=""><span class="">Procedure</span></div></th>
            <th class="" scope="col"><div class=""><span class="">Classification</span></div></th>
            <th class="" scope="col"><div class=""><span class="">Manufacturer</span></div></th>
            <th class="" scope="col"><div class=""><span class="">Message</span></div></th>
            @if (expansion()) {
                <th class="" scope="col"></th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-template let-expanded="expanded">
        <tr>
            <td class="">
                <div class="min-w-22rem max-w-22rem w-22rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.name" tooltipPosition="top" tooltipStyleClass="max-w-max" appTooltip>
                    <span class="">{{ template.name }}</span>
                </div>
            </td>
            <td class="">
                <div class="min-w-10rem max-w-10rem w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.anatomicalRegion" tooltipPosition="top" tooltipStyleClass="max-w-max" appTooltip>
                    <span class="">{{ template.anatomicalRegion }}</span>
                </div>
            </td>
            <td class="">
                <div class="min-w-14rem max-w-14rem w-14rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.procedure" tooltipPosition="top" appTooltip>
                    <span class="">{{ template.procedure }}</span>
                </div>
            </td>
            <td class="">
                <div class="min-w-6rem max-w-6rem w-6rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.classification" tooltipPosition="top" appTooltip>
                    <span class="">{{ template.classification }}</span>
                </div>
            </td>
            <td class="">
                <div class="min-w-8rem max-w-8rem w-8rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.manufacturer" tooltipPosition="top" appTooltip>
                    <span class="">{{ template.manufacturer }}</span>
                </div>
            </td>
            <td class="">
                <div class="min-w-6rem max-w-6rem w-6rem white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="template.message" tooltipPosition="top" appTooltip>
                    <span class="">{{ template.message }}</span>
                </div>
            </td>
            @if (expansion()) {
                <td class="">
                    <div class="">
                        <p-button type="button" pRipple [pRowToggler]="template" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </div>
                </td>
            }
        </tr>
    </ng-template>
    <ng-template #expandedrow let-template>
        <tr class="">
            <td colspan="7" class="px-0 surface-200">
                <div class="w-full overflow-hidden" [class.details-container-max-height]="template.details.length > 5">
                    <p-table [value]="template.details"  [scrollable]="true" scrollHeight="flex" class="w-full h-full">
                        <ng-template #header>
                            <tr class="">
                                <th class="w-12rem surface-200" scope="col"><div class=""><span class="">Index</span></div></th>
                                <th class="w-20rem surface-200" scope="col"><div class=""><span class="">Part Number</span></div></th>
                                @if (withImageDetails()) {
                                    <th class="w-16rem surface-200" scope="col"><div class=""><span class="">Image ID</span></div></th>
                                    <th class="w-12rem surface-200" scope="col"><div class=""><span class="">View</span></div></th>
                                }
                                <th class="surface-200" scope="col"></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-detail  let-rowIndex="rowIndex">
                            @let last = rowIndex === template.details.length - 1;
                            <tr class="">
                                <td class="w-12rem surface-200" [class.border-bottom-none]="last"><div class=""><span class="">{{ detail.index }}</span></div></td>
                                <td class="w-20rem surface-200" [class.border-bottom-none]="last"><div class=""><span class="">{{ detail.partNumber }}</span></div></td>
                                @if (withImageDetails()) {
                                    <td class="w-16rem surface-200" [class.border-bottom-none]="last"><div class=""><span class="">{{ detail.ImageID }}</span></div></td>
                                    <td class="w-12rem surface-200" [class.border-bottom-none]="last"><div class=""><span class="">{{ detail.view }}</span></div></td>
                                }
                                <td class="surface-200" [class.border-bottom-none]="last"></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </td>
        </tr>
    </ng-template>
</p-table>
