:host {
    --p-tabs-tab-background: orange;
    --p-tabs-tab-border-color: cyan;
    --p-tabs-tab-color: white;
    //
    --p-tabs-tab-active-background: violet;
    --p-tabs-tab-active-border-color: cyan;
    --p-tabs-tab-active-color: black;
    //
    --p-tabs-tab-hover-background: violet;
    --p-tabs-tab-hover-border-color: cyan;
    --p-tabs-tab-hover-color: green;
    //
    --p-tabs-tablist-background: red;
    --p-tabs-tabpanel-background: red;
    --p-tabs-tabpanel-color: yellow;
    //
    --p-datatable-header-cell-background: yellow;
    --p-datatable-header-cell-color: blue;
    --p-datatable-header-cell-border-color: green;
    //
    --p-datatable-row-background: yellow;
    --p-datatable-row-color: blue;
    --p-datatable-body-cell-border-color: green;
}
